@charset "UTF-8";
/*
important
id
class
selectores/ etiquetas 
*/
/*ESTILOS RESET / BODY Y MAIN*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px red solid (ESTO ME sirve pa marcar las lineas de cajas Y MARCAR COSAS, yo me entiendo jajaj)*/
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

#body {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#main {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  padding: 0 50px;
}

/*ESTILOS NAVBAR*/
.fotologo {
  height: 50px;
  width: 50x;
}

#navBar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoDP {
  width: 70px;
  height: 70px;
}

#header {
  width: 100%;
  height: 70px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3114495798) 0%, rgb(255, 162, 192) 100%);
  position: sticky;
  top: 0;
  z-index: 100;
}

/*ESTILOS FOOTER*/
/*FOOTER*/
#footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #ffe0ea;
}

.footer_logo,
.footer_links,
.footer_redes {
  border: 2px #c26c9f solid;
  padding: 6px;
}

.footer_logo img {
  width: 120px;
  height: 120px;
}

.footer_links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_redes {
  text-align: center;
}

.footer_redes img {
  margin-top: 20px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/*ESTILOS QUERIES*/
@media screen and (max-width: 576px) {
  #footer {
    flex-direction: column;
  }
}
/*IMPORT PAGE PRODUCTOS*/
.productos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.productos img {
  width: 200px;
  height: 200px;
  margin: 30px;
}

/* */
/*MAIN PORTADA*/
h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.img-inicio_portada {
  width: 290px;
  height: 210px;
  margin-bottom: 30px;
}

.texto_portada {
  text-align: left;
}

.texto-portada_negrita {
  font-weight: 800;
}

/*PÁGINA CONTACTO*/
#form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 550px;
}

.form_contenido {
  display: flex;
}

.form_contenido .form_relleno {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form_relleno input,
.form_relleno select {
  width: 250px;
  height: 30px;
  margin-top: 10px;
}

.form_relleno textarea {
  resize: none;
  width: 250px;
  height: 90px;
  margin-top: 10px;
}

.form_mapa {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_envio input {
  width: 100px;
  height: 45px;
  border: 1px grey solid;
  background-color: #ffb8ce;
  color: white;
  border-radius: 20px 0 20px 0;
  margin-top: 30px;
}

.carousel-item active {
  color: white;
  /* height: 50%;
  width: 50%; */
  transition-duration: 0.6s;
}

.carousel-inner {
  /* width: 40%;
  height: 40%; */
  transition: opacity 0.6s ease;
  justify-items: center;
}

/*# sourceMappingURL=style.css.map */
