/*
important
id
class
selectores/ etiquetas 
*/

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px red solid (ESTO ME sirve pa marcar las lineas de cajas Y MARCAR COSAS, yo me entiendo jajaj)*/
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

#body {
    max-width: 1920px;
    margin: 0 auto;
}

#main {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 100px;

}

.fotologo { 
    height: 50px;
    width: 50x;
}

#navBar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoDP {
    width: 70px;
    height: 70px;
}

#header {
    width: 100%;
    height: 70px;
    background: linear-gradient(0deg, rgba(255,255,255,0.3114495798319328) 0%, rgba(255,162,192,1) 100%);
    position: fixed;
}


/* */


/*MAIN PORTADA*/
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.img-inicio_portada{
    width: 290px;
    height: 210px;
    margin-bottom: 30px;
}

.texto_portada {
    text-align: left;
}

.texto-portada_negrita {
    font-weight: 800;
}


/*PÁGINA CONTACTO*/
#form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 550px;
    
}

.form_contenido {
    display: flex;
}

.form_contenido .form_relleno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.form_relleno input , .form_relleno select {
    width: 250px;
    height: 30px;
    margin-top: 10px;
}

.form_relleno textarea {
    resize: none;
    width: 250px;
    height: 90px;
    margin-top: 10px;
}

.form_mapa {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_envio input {
    width: 100px;
    height: 45px;
    border: 1px grey solid;
    background-color: #ffb8ce;
    color: white;
    border-radius: 20px 0 20px 0;
    margin-top: 30px;
}




/*FOOTER*/
#footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #ffe0ea;
}

.footer_logo, .footer_links, .footer_redes {
    border: 2px #c26c9f solid;
    padding: 6px;
}

.footer_logo img {
    width: 120px;
    height: 120px;
}

.footer_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_redes {
    text-align: center;
}
.footer_redes img{
    margin-top: 20px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}




/*clase grilla 10-8*/

/* */
.productos {  
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 300px auto 300px auto 300px auto 300px auto 300px auto 300px auto 300px auto 300px auto 300px auto 300px;
    gap: 10px 10px;
    grid-template-areas:
    "title-cookies title-cookies title-cookies"
    "cookie1 cookie2 cookie3"
    "title-brownie title-brownie title-brownie"
    "borwnies1 brownie2 brownie3"
    "title-cheesecake title-cheesecake title-cheesecake"
    "cheesecake1 cheesecake2 cheesecake3"
    "title-créme-brulee title-créme-brulee title-créme-brulee"
    "créme-brulee1 créme-brulee2 créme-brulee3"
    "title-lemon-pie title-lemon-pie title-lemon-pie"
    "lemon-pie1 lemon-pie2 lemon-pie3"
    "title-mousse title-mousse title-mousse"
    "mousse1 mousse2 mousse3"
    "title-panna-cotta title-panna-cotta title-panna-cotta"
    "panna-cotta1 panna-cotta2 panna-cotta3"
    "title-pavlova title-pavlova title-pavlova"
    "pavlova1 pavlova2 pavlova3"
    "title-rogel title-rogel title-rogel"
    "rogel1 rogel2 rogel3"
    "title-tartas title-tartas title-tartas"
    "tarta1 tarta2 tarta3";
}

.productos img {
    width: auto;
    height: 100%;
    
}

.title-cookies { grid-area: title-cookies; }

.cookie1 { grid-area: cookie1; }

.cookie2 { grid-area: cookie2; }

.cookie3 { grid-area: cookie3; }

.title-brownie { grid-area: title-brownie; }

.borwnies1 { grid-area: borwnies1; }

.brownie2 { grid-area: brownie2; }

.brownie3 { grid-area: brownie3; }

.title-cheesecake { grid-area: title-cheesecake; }

.cheesecake1 { grid-area: cheesecake1; }

.cheesecake2 { grid-area: cheesecake2; }

.cheesecake3 { grid-area: cheesecake3; }

.title-créme-brulee { grid-area: title-créme-brulee; }

.créme-brulee1 { grid-area: créme-brulee1; }

.créme-brulee2 { grid-area: créme-brulee2; }

.créme-brulee3 { grid-area: créme-brulee3; }

.title-lemon-pie { grid-area: title-lemon-pie; }

.lemon-pie1 { grid-area: lemon-pie1; }

.lemon-pie2 { grid-area: lemon-pie2; }

.lemon-pie3 { grid-area: lemon-pie3; }

.title-mousse { grid-area: title-mousse; }

.mousse1 { grid-area: mousse1; }

.mousse2 { grid-area: mousse2; }

.mousse3 { grid-area: mousse3; }

.title-panna-cotta { grid-area: title-panna-cotta; }

.panna-cotta1 { grid-area: panna-cotta1; }

.panna-cotta2 { grid-area: panna-cotta2; }

.panna-cotta3 { grid-area: panna-cotta3; }

.title-pavlova { grid-area: title-pavlova; }

.pavlova1 { grid-area: pavlova1; }

.pavlova2 { grid-area: pavlova2; }

.pavlova3 { grid-area: pavlova3; }

.title-rogel { grid-area: title-rogel; }

.rogel1 { grid-area: rogel1; }

.rogel2 { grid-area: rogel2; }

.rogel3 { grid-area: rogel3; }

.title-tartas { grid-area: title-tartas; }

.tarta1 { grid-area: tarta1; }

.tarta2 { grid-area: tarta2; }

.tarta3 { grid-area: tarta3; }
